<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <dev class="logo">
            <h1><img src="/static/logo.png" alt="Ghosty Ware Logo" style="height: 50px;">
        </dev>
        <h1>Welcome to Ghosty Ware</h1>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/feedback">Feedback</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <header>
            <img src="/static/my GUI.png" alt="Description of Image" style="max-width: 30%; height: auto;">
    <main>
        <p>Content for your page goes here.</p>
    </main>
    <footer>
        <p>&copy; 2024 Ghosty Ware</p>
    </footer>
</body>
</html>
